# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# main sln should not be committed as it get regenerated all the time
*.sln

bin/
obj/
Intermediate/
.vs/
.cache/

Binaries/

*.deps.json
*.runtimeconfig.json

*.log

compile_commands.json
